services:
    rabbitmq:
        image: rabbitmq:3-management
        container_name: rabbitmq
        hostname: rabbitmq
        ports:
          - "5672:5672"
          - "15672:15672"
        environment:
          - RABBITMQ_DEFAULT_USER=guest
          - RABBITMQ_DEFAULT_PASS=guest
        volumes:
          - ./certs:/certs:ro
          - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/conf.d/20-ssl.conf:ro
        healthcheck:
          test: ["CMD", "rabbitmqctl", "status"]
          interval: 10s
          timeout: 5s
          retries: 5
          start_period: 10s